<h3><%= @project.name %></h3>
<div class="row">
  <div class="col-lg-8 col-md-8">
    <div class="well">
      <pre>
&lt;script&gt;
<%= render 'dashboard/widgets/code', :project => @project %>
&lt;/script&gt;
      </pre>
      
    </div>
    <h4>Project Details</h4>
    <%= render 'dashboard/projects/table', projects: [@project]  %>

    <h4>Bugs Overview</h4>
    <div>
      <%= content_tag(:a, fa_icon('plus', text: "New Bug"), class: 'btn  btn-default new_bug' )%>
    </div>
    <%= render 'dashboard/bugs/table', bugs: @bugs %>
    
    
  </div>
  <div class="col-lg-4 col-md-4 leaderboard-container">
    <%= render 'dashboard/admins/leaderboard', admins: @admins %>
    
  </div>
</div>

<%= render 'shared/modal', modal_urls: @modal_urls %>