<table class="table table-bordered">
  <tr>
    <td>
      url
    </td>
    <td>
      <%= bug.url %>
    </td>
  </tr>
  <tr>
    <td>
      browser
    </td>
    <td>
      <%= bug.browser %>
    </td>
  </tr>
  <tr>
    <td>
      status
    </td>
    <td>
      <%= bug.status %>
    </td>
  </tr>
  <tr>
    <td>
      params
    </td>
    <td>
      <%= bug.params %>
    </td>
  </tr>
  <tr>
    <td>
      width
    </td>
    <td>
      <%= bug.width %>
    </td>
  </tr>
  <tr>
    <td>
      height
    </td>
    <td>
      <%= bug.height %>
    </td>
  </tr>
  <tr>
    <td>
      created_at
    </td>
    <td>
      <%= bug.created_at %>
    </td>
  </tr>
  <tr>
    <td>
      updated_at
    </td>
    <td>
      <%= bug.updated_at %>
    </td>
  </tr>
  <tr>
    <td>
      browser_version
    </td>
    <td>
      <%= bug.browser_version %>
    </td>
  </tr>
  <tr>
    <td>
      os
    </td>
    <td>
      <%= bug.os %>
    </td>
  </tr>
  <tr>
    <td>
      ua
    </td>
    <td>
      <%= bug.ua %>
    </td>
  </tr>
  <tr>
    <td>
      time_spent
    </td>
    <td>
      <%= bug.time_spent %>
    </td>
  </tr>
</table>