<tr>
  <th><%= link_to bug.name, dashboard_bug_path(bug) %></th>
  <td><%= bug.description %></td>
  
  <%= render 'dashboard/bugs/status_table_cell', bug: bug %>  
  <td>
    <%= simple_form_for bug, url: dashboard_bug_path(bug), remote: true do |f| %>
      
      <%= f.association :admin, label: 'Assigned To:' %>
      <%= f.button :submit, bug.admin ? "Reassign" : "Assign" %>
    <% end %>
  </td>
</tr> 
