<h2><%= @bug.name %></h2>

<h4>Project Details</h4>

<%= render 'dashboard/projects/table', projects: [@project]  %>

<h4>Bug Specifics</h4>
<%= button_tag(class: 'btn btn-default edit_bug') do
  content_tag(:span, 'Edit Bug', class: 'glyphicon glyphicon-edit')
end %>

<%= render 'dashboard/bugs/table', bugs: [@bug] %>

<%= render 'dashboard/bugs/detail', bug: @bug %>

<h4>Comments</h4>

<%= render 'dashboard/comments/thread', comments: @comments %>

<%= simple_form_for @comment, url: dashboard_bug_comments_path(@bug), remote: true do |f| %>
  <%= f.input :content %>
  <%= f.button :submit %>
<% end %>

<%= render 'shared/modal', modal_urls: @modal_urls %>
