<div class="full-width-header">
  <div class="bar"></div>
  <div class="absolute-content-wrp extra-padding">
    <h1 class='col-md-12'><%=@client.project.name.upcase%></h1>
    <div class="expiration"><span style='font-weight:500'>Bug tracking ends on: </span><%=@client.project.expiration.to_date.strftime('%a %b %d %Y')%></div>
  </div>
</div>
<div class="tb-wrp">
    <table class="tablesorter client-table">
      <thead>
        <tr class='order'>
          <th>Status</th>
          <th class='hide-on-medium'>ID</th>
          <th class='hide-on-medium'>Date Submitted</th>
          <th class='hide-on-small'>Submitted By</th>
          <th>URL</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @client.project.bugs.each do |bug| %>

          <tr class='col-md-12 margin-top '>
            <td class="status <%= bug.status.downcase %>"><div class="bug-icn"></div></td>
            <td class='hide-on-medium'> <%= bug.id %> </td>
            <td class='hide-on-medium'> <%= bug.created_at.to_date %> </td>
            <td class='hide-on-small'> <%= bug.name %> </td>
            <td class='align-left'> <a href="<%= bug.url %>"><%= bug.url %></a></td>
            <td class='align-left'> 
              <div class="bug-desc"><%= bug.description.to_s[0..40].gsub(/\s\w+$/,'...') %></div>
              <div class="see-more <%=bug.id%>">See more...</div>
            </td>
          </tr>
          <tr class='more-info <%=bug.id%>'>
            <td colspan='0' class='data-cont'>
            <div class="full-text">> <%=bug.description.to_s%></div> 
              <div class="contact-wrap"><div class="contact">Contact The Mechanism about this issue...</div></div>
            </td>
          </tr>
       <%end%>
      </tbody>
    </table>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".see-more").click(function() {
      var data = this.classList[1];
      $(this).toggleClass('active');
      $(".more-info."+data).toggle();
      var txt = $(".more-info."+data).is(':visible') ? 'See less...' : 'See more...';
      $(this).text(txt); 
    });
  })
</script>
