<% if current_client.id != @client.id %>
  <div class="full-width-header">
  <div class="bar"></div>
  <div class="absolute-content-wrp extra-padding">
    <h1 class='col-md-12'>Oops!</h1>
    <div class="expiration">It looks like this isn't your project, try signing in as a different user.</div>

  </div>

</div>
<div style='text-align:center; font-size:350px;width:100%; margin:150px auto;'>&#x21dd;</div>
<div style='text-align:center; font-size:30px;width:100%; margin:20px auto;'><%= link_to('Logout', destroy_client_session_path, :method => :delete) %>  </div>
<%else%>
<div class="full-width-header">
  <div class="bar"></div>
  <div class="absolute-content-wrp extra-padding">
    <h1 class='col-md-12'><%=@client.name_of_co.upcase || ''%></h1>

  </div>

</div>
<div class="tb-wrp">
  <h3>PARAMS. TADA.</h3>
  <%= params.inspect %>
    <table class="tablesorter client-table">
      <thead>
        <tr class='order'>
          <th class='sortable'>Status</th>
          <th class='hide-on-medium sortable'>ID</th>
          <th class='hide-on-medium sortable'>Date Submitted</th>
          <th class='hide-on-small sortable'>Submitted By</th>
          <th class='sortable'>URL</th>
          <th class='sortable'>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @client.projects.first.bugs.each do |bug| %>

          <tr class='col-md-12 margin-top'>
            <td class="status <%= bug.status.downcase %>"><div class="bug-icn"></div></td>
            <td class='hide-on-medium'> <%= bug.id %> </td>
            <td class='hide-on-medium'> <%= bug.created_at.to_date %> </td>
            <td class='hide-on-small'> <%= bug.name %> </td>
            <td class='align-left'> <a href="<%= bug.url %>"><%= bug.url %></a></td>
            <td class='align-left'>
              <div class="bug-desc"><%= bug.description.to_s[0..40].gsub(/\s\w+$/,'...') %></div>
              <div class="see-more <%=bug.id%>">See more...</div>
            </td> 
          </tr>
          <tr class='more-info <%=bug.id%>'>
            <td colspan='0' class='data-cont'>
            <div class="full-text">> <%=bug.description.to_s%></div>
              <div class="contact-wrap"><div class="contact"> <a href="mailto:dev@themechanism.com?Subject=Issue%20with%20Bug%20Number%20<%=bug.id%>">Contact The Mechanism about this issue...</a></div></div>
            </td>
          </tr>
       <%end%>
      </tbody>
    </table>
</div>

<%end%>
<script type="text/javascript">
  $(document).ready(function(){
       $(".tablesorter").tablesorter();
    $(".see-more").click(function() {
      if ( !$(this).hasClass('active') ){
        reset();
      }
      var data = this.classList[1];
      $(this).toggleClass('active');
      $(".more-info."+data).toggle();
      var txt = $(".more-info."+data).is(':visible') ? 'See less...' : 'See more...';
      $(this).text(txt);
    });

    var reset = function(){
       $('.more-info').css('display','none');
      $('.see-more').removeClass('active');
      $(".see-more").text('See more...');
    }
  })
</script>
