<style>
	body{
		background: -moz-linear-gradient(45deg,  #59bae3 0%, #59aae3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#59bae3), color-stop(100%,#59aae3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* IE10+ */
	background: linear-gradient(45deg,  #59bae3 0%,#59aae3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bae3', endColorstr='#59aae3',GradientType=1 );
	}
	.form-wrap{
		width:60%;
		max-width:400px;
		margin: 200px auto;

	}
	.sign-in-logo{
		text-align:left;
		width:100%;
	}
	img{
		width:100%;
		max-width:350px;
	}
	input[type="email"], input[type="password"]{
		width: calc(100% - 22px) !important;
		border-radius:0px  !important;
		border:0px solid white  !important;
	}
	.margin-top{
		margin-top:20px;
	}
	input.switch:empty{
	margin-left: -999px;
}
input.switch:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input.switch:empty ~ label{
	color:white;
	font-weight:100;
}
input.switch:empty ~ label:before,
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #e0e0e0;
	border-radius:17px;

	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 30px;

}
input.switch:checked ~ label:before
{
	background-color: #bcbdbf;
}

input.switch:checked ~ label:after
{
	margin-left: 2em;
	background-image: url(/images/check.png);
	background-position: center;
	background-repeat: no-repeat;
}
input.sign-in-submit{
	margin-top:10px;
	background:#ffffff !important;
	color:#52bde9 !important;
	border-radius:0px !important;
	box-shadow:none !important;
	border:0px solid white !important;
	font-family: 'Open Sans' !important;;
	text-shadow: none !important;;
}

</style>

<div class='form-wrap'>
	<div class="sign-in-logo"><%= image_tag 'TheMechanism_FullLogo.png' %></div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class='margin-top'>
  <%= f.email_field :email, autofocus: true, placeholder:'Email' %></div>

  <div><br />
    <%= f.password_field :password, autocomplete: "off", placeholder:'Password' %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me, class:'switch' %> <%= f.label :remember_me %></div>
  <% end -%>
	<div style='clear:both'></div>
  <div><%= f.submit "Sign in", class:'sign-in-submit' %></div>
<% end %>

</div>