<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @admin.name %></h1>
    <p>
      <%= @project_manager.name %> re-opened the <%= @bug.name %> bug you submit on the <%= @bug.project.name %> project.<br>
    </p>
    <h3>The Deets:</h3>
    <ul>
      <li>occured at url: <%= @bug.url %></li>
      <li>description: <%=@bug.description %></li>
      <li>browser: <%=@bug.browser %></li>

    </ul>
    <p>To view any comments, or review the submission visit <%= link_to @bug.name, dashboard_bug_url(@bug) %>.</p>
    <p>Love,</p>
    <p>Computer</p>
  </body>
</html>