<div id="mech-bug-tracker">
  <div id="mech-pull-tab" class="mech-pull-tab">
    <div>Report A Bug!</div>
  </div>
  <div class="mech-bug-wrap left" id="mech-bug-report">

    <div class="mech-bug-padding">
      <div class="mech-bug-logo"></div>
      <div class="mech-bug-close">x</div>
      <div id="tabs">

        <%= render 'tabs_menu' %>
        <%= render 'form' %>
        <%= render 'table' %>
        <%= render 'links' %>
      </div>
    </div>
  </div>
  <%= render 'feedback' %>
</div>

